body{
    background-color: black;
    color: aliceblue;
}
.ParsonalJob{
    position: relative;
    margin: auto;
    overflow: hidden;
    background-color: rgb(78, 78, 194);
    color: #000000;
    height: 370px;
    width: 370px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    box-shadow: rgb(240, 5, 5);
}
#JobInformarion{
    position: relative;
    margin-top: 10px;
    height: 180px;
    width: 370px;
}
.ParsonalJob input, button {
    
    border-radius: 50px;
    background-color: rgb(146, 209, 228);
    color: rgb(0, 0, 0);
    box-shadow: rgb(80, 6, 6);
    
}

#ParsonalInformation input{
    position: absolute;
    right: 20%;
}
#JobInformarion input{
    position: absolute;
    right: 25%;
}
#ParsonalInformation button{
    position: absolute;
    right: 20%;
}
#JobInformarion button{
    position: absolute;
    right: 25%;
}
#checkHW{
    margin-bottom: 20px;
    height: 170px;
}
#Worker{
    position: absolute;
   right: 30%;
}
#Hire{
    position: absolute;
    left: 30%;
}